<div class="b-accordion">
    <div class="b-accordion__header">
        <div class="b-swipe-button"></div>
        <div class="b-accordion__subheader">
            <div class="b-heading b-heading_nooffset m-size_xlarge">{{ question }}</div>
            <div class="b-heading__sub">{{ question.question }}</div>
        </div>
    </div>
    <div class="b-accordion__body b-accordion__body_closed">
        <div class="b-heading b-heading_underline m-size_xlarge">Ответ</div>
        <div class="b-typeset">
            {{ question.answer }}
        </div>
    </div>
</div>
